
body{
    background-color: var(--background-color);
    font-family: var(--body-font);
    padding-top: 10vh;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
    font-family: var(--header-font);
    color: var(--text-color);
    font-size: 2em;
    height: 8vh;
    width: 100%;
}

#header-right-side{
    position: absolute;
    right: 2vw;
    display: flex;
    align-items: center;
    gap: 1vw;
}

#header-middel{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button{
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    padding: 0.8rem;

    cursor: pointer;
    transition: 0.2s;

    color: var(--text-color);
    background-color: var(--header-color);

    width: 100%;
    font-size: 1rem;
    font-family: var(--body-font);
}

.button:hover{
    opacity: 0.85;
}

nav{
    position: fixed;
    top: 8vh;
    justify-content: left;
    align-items: center;
    background-color: var(--header-color);
    font-family: var(--header-font);
    font-size: 1em;
    display: flex;
    height: 2vh;
    width: 100%;
    gap: 1vw;
}

nav a{
    text-decoration: none;
    color: var(--secondary-color);
}

nav a:hover{
    text-decoration: none;
    color: var(--secondary-color);
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--footer-color);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 5em;
    padding-right: 10px;
    box-sizing: border-box;
}

.footer-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4rem;
    position: relative;
    text-decoration: none;
}
footer a{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: 1.3em;
}

.footer-left::after{
    position: absolute;
    left: 0;
    bottom: -2px;

    background-color: var(--primary-color);

    transition: width 0.3s ease;
}

.footer-left:hover::after{
    width: 100%;
}

#calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.calendar-day {
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 180px;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    background: white;
}

.calendar-header {
    flex: 1;
    min-height: 25%;

    background: #f3f3f3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-body {
    flex: 3;
    min-height: 75%;

    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    overflow-y: auto;
}


#popup-content {
    width: 500px;
    max-width: 90%;

    background: white;

    border-radius: 12px;

    padding: 1rem;
}

.hidden {
    display: none !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}


.info {
    margin-left: 2rem;
    margin-top: 2rem;
    color: var(--text-dark);
    font: var(--body-font);
}