<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title layout:fragment="title">Index</title>
    <script th:src="@{/js/calendarLogic.js}"></script>
</head>
<body>
    <main layout:fragment="content">
        <div id="calendar">
            <div th:each="day : ${#numbers.sequence(1, T(java.time.LocalDate).of(year, month, 1).lengthOfMonth())}">
                <div class="calendar-day">
                    <div class="calendar-day"
                            th:with="date=${T(java.time.LocalDate).of(year, month, day)}"
                            th:classappend="${date.equals(T(java.time.LocalDate).now())} ? ' today' : ''"
                    >

                        <div class="calendar-header">

                            <button
                                    sec:authorize="hasRole('COMPANY')"
                                    class="day-button"
                                    th:attr="data-date=${date}">

                                <span th:text="${date.dayOfMonth}"></span>

                            </button>

                            <div
                                    sec:authorize="!hasRole('COMPANY')"
                                    class="day-label">

                                <span th:text="${date.dayOfMonth}"></span>

                            </div>
                        </div>
                            <div class="calendar-body">
                                <div th:each="event : ${events}"
                                     th:if="${event.date == date}">
                                    <a th:href="@{/event/{id}(id=${event.id})}">
                                        <span th:text="${event.eventName}"></span>
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div id="overlay" class="overlay hidden">
                <div id="popup-content" class="modal">
                    <button type="button" onclick="closeOverlay()">X</button>
                    <h2>Opret Event</h2>
                    <form th:action="@{/event/create}" method="post">
                        <input type="hidden" name="eventDate" id="eventDateInput">

                        <label>Event Navn</label>
                        <input type="text" name="eventName" required minlength="3" maxlength="50">

                        <label>Spil</label>
                        <input type="text" name="eventGame" required minlength="3" maxlength="50">

                        <label>Beskrivelse</label>
                        <textarea name="eventDescription" maxlength="500" placeholder="Valgfrit"></textarea>

                        <label>Start Tidspunkt</label>
                        <input type="time" name="startTime" required>

                        <button type="submit">Opret Event</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>