<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title layout:fragment="title">Kontakt</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="info">
            <h3>Kontakt os venligst på</h3>
            <p>
                <a href="mailto:kontakt@zzgames.dk">kontakt@zzgames.dk</a> eller <br>
                <a href="mailto:jonascjak@gmail.com">jonascjak@gmail.com</a>
            </p>

        </div>
    </main>
</body>
</html>