<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title layout:fragment="title">Om os</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="info">
            <h3>Om os</h3>
            <p>
                Figurhub er en hjemmeside for alle danske figurspiller. <br>
                Hjemmesidens formål er at skabe et fælles forum for danske figurspiller, <br>
                hvor de kan se og deltage i kommende begivenheder i danmark <br> <br>
                Hjemmesiden er lavet som en hovedopgave for Erhvervsakademi danmark af <a href="https://github.com/jonascjak">jonascjak</a>
            </p>
        </div>
    </main>
</body>
</html>