<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title layout:fragment="title">Privatliv</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="info">
            <p>
                <h2> Privatlivspolitik </h2>

                Denne privatlivspolitik beskriver, hvordan Figurhub behandler og beskytter personoplysninger i forbindelse med brug af hjemmesiden.

                <h3> Hvilke oplysninger gemmes </h3>

                Når en bruger opretter sig på hjemmesiden, gemmes de oplysninger, som er nødvendige for at kunne bruge systemets funktioner. Dette kan blandt andet omfatte:
                <br>
                Brugernavn
                <br>
                Navn
                <br>
                Adgangskode
                <br>
                Eventuelle virksomhedsoplysninger, herunder adresse og hjemmeside
                <br>
                Oplysninger om deltagelse i events

                Personoplysninger gemmes aldrig som almindelig tekst, Adgangskoder gemmes aldrig som almindelig tekst.

                <h3> Opbevaring af data </h3>

                Data opbevares i en database hostet gennem Render. Render anvendes som hostingplatform for både applikationen og databasen.

                Personoplysninger bliver opbevaret krypteret, hvor det er relevant for systemets funktionalitet. Det betyder, at oplysningerne ikke gemmes som almindelig læsbar tekst i databasen. Adgang til oplysningerne er begrænset til systemets nødvendige funktioner.

                <h3> Formål med behandling af data </h3>

                Personoplysninger behandles kun med det formål at kunne levere hjemmesidens funktioner. Dette omfatter blandt andet:

                Oprettelse og administration af brugerprofil
                Login og adgangskontrol
                Oprettelse og visning af events
                Deltagelse i events
                Visning af virksomhedsoplysninger på hjemmesiden

                Oplysningerne anvendes ikke til markedsføring eller videregives ikke til tredjeparter, medmindre det er nødvendigt for drift af systemet eller krævet ved lov.

            <h3> Brugerens rettigheder </h3>

                Som bruger har du til enhver tid ret til at kontakte os angående dine personoplysninger. Du har blandt andet ret til at:

                Få indsigt i hvilke oplysninger der behandles om dig
                Få rettet forkerte oplysninger
                Få slettet din profil og tilhørende personoplysninger
                Kontakte os med spørgsmål om, hvordan dine data bliver brugt

                Hvis du ønsker at få rettet eller slettet dine oplysninger, kan dette ske gennem profilfunktionerne på hjemmesiden eller ved at kontakte os direkte.

            <h3> Sikkerhed </h3>

                Systemet anvender tekniske sikkerhedsforanstaltninger for at beskytte brugerdata. Dette omfatter blandt andet hashing af adgangskoder, kryptering af personoplysninger og adgangskontrol gennem Spring Security.

                Formålet er at reducere risikoen for uautoriseret adgang, ændring eller eksponering af personoplysninger.

            <h3> Kontakt </h3>

                Hvis du har spørgsmål til denne privatlivspolitik eller ønsker indsigt, rettelse eller sletning af dine oplysninger, kan du kontakte os via hjemmesidens kontaktfunktion.

               <h3> Ændringer i privatlivspolitikken </h3>

                Denne privatlivspolitik kan blive opdateret, hvis systemets funktionalitet eller datahåndtering ændres. Den nyeste version vil altid være tilgængelig på hjemmesiden.
                Denne privatlivspolitik er sidst blevet ændret d. 10 Juni 2026
            </p>
        </div>
    </main>
</body>
</html>